{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Finanzas</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <h1>Finanzas Web</h1>
            </div>
            <ul class="nav-links">
                <li><a href="#">Inicio</a></li>
                <li><a href="add/">Añadir Detalles</a></li>
                <li><a href="#">Inversiones</a></li>
                <li><a href="/actualizar/">Perfil</a></li>
            </ul>
        </nav>
    </header>

    <div class="dashboard-container">
        <!-- Estadísticas principales -->
        <div class="top-stats">
            <div class="stat-card">
                <h3>TODAY'S MONEY</h3>
                <p>$53,000</p>
                <span>+55% since yesterday</span>
            </div>
            <div class="stat-card">
                <h3>SALES</h3>
                <p>$103,430</p>
                <span>+5% since last month</span>
            </div>
        </div>

        
        <div class="content-container">
            <div class="info-box">
                <div class="left-box">
                    <h3>Ingresos vs Egresos (Función)</h3>
                    <!-- Aquí va el gráfico -->
                    <canvas id="ingresosEgresosChart"></canvas>
                    
                    <!-- Elementos ocultos con los datos de ingresos y egresos -->
                    <div id="ingresos-data" style="display: none;">{{ total_ingresos|safe }}</div>
                    <div id="egresos-data" style="display: none;">{{ total_egresos|safe }}</div>
                </div>
                
                <div class="right-box">
                    <div class="image-container">
                        <p>Contenido a la derecha del gráfico</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Datos BCCH (API) y Divisas -->
        <div class="grid-row-horizontal">
            <!-- Datos BCCH (API) -->
            <div class="card medium-card">
                <h2>Datos BCCH (API)</h2>
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>M1 (Miles de millones CLP)</th>
                                <th>FM2 (Fondos Mutuos)</th>
                                <th>FBKF (% PIB)</th>
                                <th>FBK (% PIB)</th>
                                <th>FBK Anual (% PIB)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dato in datos_bcch %}
                            <tr>
                                <td>{{ dato.index }}</td> <!-- Cambiado para mostrar correctamente la fecha -->
                                <td>{{ dato.m1 }}</td>
                                <td>{{ dato.fm2 }}</td>
                                <td>{{ dato.fbkf_real }}</td>
                                <td>{{ dato.fbkf_trimestral }}</td>
                                <td>{{ dato.fbkf_anual }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <form id="csrf-token-form" style="display: none;">
                {% csrf_token %}
            </form>
            
            <div class="card medium-card">
                <h2>Divisas a CLP (API)</h2>
                <div id="conversion-results">
                    <!-- Los resultados de la conversión aparecerán aquí automáticamente -->
                </div>
            </div>
            
                      
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/divisasExchange.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/dashboardChart.js' %}"></script>

</body>
</html>

