{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

</head>

<body>
    
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <div class="left-nav">
                    <li><a href="/" class="nav-button">Inicio</a></li>
                    <li><a href="#about" class="nav-button" id="deslizar-ainformacion">Educación Financiera</a></li>
                    <li><a href="#about" class="nav-button" id="deslizar-ainformacion">Sobre Nosotros</a></li>
                    <li><a href="#services" class="nav-button" id="deslizar-aservicio">Servicios</a></li>
                    <li><a href="#contact" class="nav-button" id="deslizar-acontacto">Contacto</a></li>
                </div>
            </ul>
            <div class="right-nav">
                {% if user.username %}
                   <a href="actualizar/Finanzas" class="nav-button">{{ user.first_name }} {{ user.last_name }}</a>
                {% else %}
                
                    <a href="/registro-login/" class="nav-button">Iniciar sesión</a>
                
                {% endif %}
            </div>
        </nav>
        
    </header>
    

    <section id="home" class="hero-section">
        <div class="hero-content">
            <h1>Administra tu Futuro Financiero de Manera Inteligente</h1>
            <p>Bienvenido a Tu Gestor de Finanzas Personalizado, donde te guiamos para maximizar tu potencial financiero.</p>
            <a href="#about" class="cta-button">Saber Más</a>
        </div>
    </section>
      

    <section id="financial-education" class="info-section">
        <div class="info-card" id="information">
            <h2>¿Para qué sirve invertir?</h2>
            <p>
                Invertir te ayuda a hacer crecer tu dinero en lugar de simplemente mantenerlo estático en una cuenta de ahorro.
            </p>
            <ul>
                <li><strong>Crecimiento del capital:</strong> Tus ahorros pueden multiplicarse gracias a los rendimientos obtenidos.</li>
                <li><strong>Protección contra la inflación:</strong> La inversión ayuda a mantener el poder adquisitivo de tu dinero.</li>
                <li><strong>Cumplimiento de metas a largo plazo:</strong> Puedes alcanzar objetivos importantes como la compra de una vivienda o una jubilación cómoda.</li>
            </ul>
        </div>
    
        <div class="info-card">
            <h2>¿Cuál es la diferencia entre ahorro e inversión?</h2>
            <p>
                El ahorro es una estrategia de bajo riesgo que consiste en guardar dinero de manera segura, generalmente en una cuenta bancaria, y está destinado a gastos a corto o mediano plazo.
            </p>
            <ul>
                <li><strong>Mejor planificación financiera:</strong> Saber cuándo ahorrar y cuándo invertir te permite gestionar mejor tus recursos.</li>
                <li><strong>Mayor rendimiento a largo plazo:</strong> Invertir te ofrece la posibilidad de obtener mayores ganancias que solo ahorrando.</li>
                <li><strong>Seguridad para gastos a corto plazo:</strong> Ahorrar te da tranquilidad para cubrir gastos inmediatos o emergencias sin necesidad de endeudarte.</li>
            </ul>
        </div>
    
        <div class="info-card">
            <h2>¿Cómo puedo empezar a mejorar mi educación financiera?</h2>
            <p>
                Mejorar tu educación financiera te permitirá tomar decisiones más informadas sobre cómo administrar tus ingresos, controlar tus gastos, y planificar para el futuro.
            </p>
            <ul>
                <li><strong>Toma de decisiones informadas:</strong> Puedes gestionar tus recursos de manera eficiente, evitando errores comunes.</li>
                <li><strong>Mayor control de tus finanzas personales:</strong> Entenderás mejor cómo ahorrar, invertir y manejar tus gastos.</li>
                <li><strong>Preparación para el futuro:</strong> Estarás mejor preparado para enfrentar imprevistos y alcanzar metas financieras a largo plazo.</li>
            </ul>
        </div>
    </section>

    
    <section id="about" class="about-section">
        <h2>Sobre Nosotros</h2>
        <p>Somos un equipo dedicado a brindarte las mejores soluciones financieras.</p>
    
        <div class="team-container">
            <div class="team-member">
                <div class="text-content">
                    <h3>Juan Pérez</h3>
                    <p>CEO y Fundador</p>
                    <p>Liderando la visión de la empresa hacia un futuro financiero más inclusivo.</p>
                </div>
                <div class="image-container">
                    <img src="{% static 'img/persona1.jpg' %}" alt="Person 1">
                </div>
            </div>
    
            <div class="team-member">
                <div class="text-content">
                    <h3>Ana Rodríguez</h3>
                    <p>Directora de Finanzas</p>
                    <p>Expertise en inversiones y administración de capital a largo plazo.</p>
                </div>
                <div class="image-container">
                    <img src="{% static 'img/persona2.jpg' %}" alt="Person 2">
                </div>
            </div>
    
            <div class="team-member">
                <div class="text-content">
                    <h3>Carlos Martínez</h3>
                    <p>Desarrollador de Software</p>
                    <p>Construyendo plataformas innovadoras para la gestión de tus finanzas.</p>
                </div>
                <div class="image-container">
                    <img src="{% static 'img/persona3.jpg' %}" alt="Person 3">
                </div>
            </div>
    
            <div class="team-member">
                <div class="text-content">
                    <h3>Lucía Fernández</h3>
                    <p>Asesora Financiera</p>
                    <p>Guiándote en el proceso de toma de decisiones financieras inteligentes.</p>
                </div>
                <div class="image-container">
                    <img src="{% static 'img/persona4.jpg' %}" alt="Person 4">
                </div>
            </div>
        </div>
    </section>
    
    <section id="services" class="carousel-section">
        <h2>Nuestros Servicios</h2>
        <div class="carousel-container">
            <div class="carousel">
                <div class="service-card">
                    <i class="fas fa-chart-line"></i>
                    <h2>Análisis de Inversiones</h2>
                    <p>Asesoría personalizada sobre las mejores opciones de inversión, adaptada a tus objetivos financieros.</p>
                </div>
                <div class="service-card">
                    <i class="fas fa-wallet"></i>
                    <h2>Control de Ingresos y Gastos</h2>
                    <p>Monitorea y gestiona tus ingresos y gastos de forma eficiente con nuestras herramientas.</p>
                </div>
                <div class="service-card">
                    <i class="fas fa-chart-bar"></i>
                    <h2>Proyecciones Financieras</h2>
                    <p>Obtén proyecciones detalladas sobre tus ahorros e inversiones a largo plazo.</p>
                </div>
                <div class="service-card">
                    <i class="fas fa-bell"></i>
                    <h2>Alertas y Notificaciones</h2>
                    <p>Recibe notificaciones sobre eventos importantes relacionados con tus cuentas y movimientos financieros.</p>
                </div>
            </div>
            <button class="carousel-control prev"></button>
            <button class="carousel-control next"></button>
        </div>
    </section>
    
    <section id="contact" class="contact">
        <h2>Contáctate con Nosotros</h2>
        {% if user.username %}
        <p>Detalles si el usuario está logeado.</p>
        {% else %}
        <form>
            <div class="input-box">
                <input type="text" required placeholder="Nombre y Apellido">
            </div>
            <div class="input-box">
                <input type="email" required placeholder="Correo Electrónico">
            </div>
            <div class="input-box">
                <input type="text" required placeholder="Asunto">
            </div>
            <div class="input-box">
                <textarea cols="30" rows="10" placeholder="Escribe tu mensaje"></textarea>
            </div>
            <button type="submit">Enviar Mensaje</button>
        </form>
        {% endif %}
    </section>
    
    <footer>
        <center><p>&copy; FinanzasWeb 2024. Todos los derechos reservados.</p></center>
    </footer>

    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/scroll.js' %}"></script>
</body>
</html>